.pageOneOuterDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pageOneRowDiv {
    display: flex;
    flex: 3;
    flex-direction: row;
    padding-top: 10%;
}

.pageOneRowDivLeft {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-left: 10%;
    
}

.pageOneRowDivLeftCol1 {
    font-size: 50px;
    font-weight: bold;
    flex: 1;
}

.pageOneRowDivLeftCol2{
    flex: 1;
    color: hsl(229, 8%, 60%);
    padding-right: 15%;
    padding-top: 5%;
}

.pageOneRowDivLeftCol3{
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    max-height: 50px;
    padding-bottom: 10px;
    justify-content: flex-start;
    width: 60%;
}

.pageOneRowDivLeftCol3Row1 {
  /* border: 2px solid hsl(229, 8%, 60%); */
  /* background-color: white; */
  background-color: hsl(231, 69%, 60%);
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 150px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: 2px solid hsl(231, 69%, 60%);
}

.pageOneRowDivLeftCol3Row1:hover {
    color: hsl(231, 69%, 60%);
    background-color: white;
}


.pageOneRowDivLeftCol3Row2 {
  border: 2px solid hsl(229, 8%, 60%);
  background-color: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 150px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.pageOneRowDivRight {
    padding-right: 5%;
}

.pageOneRowDivRightImage {
    
}

.halfEllipse3 {
    background: hsl(231, 69%, 60%);
    width: 500px;
    height: 120px;
    border-radius: 100% 0 0 100% / 50%; 
}

.pageSecondRowDiv {
    text-align: center;
    flex: 1;
    padding: 2.5%;
    text-align: center;
}

.pageOneColumnDivRow1 {
    font-size: 30px;
    font-weight: bold;
    padding: 1.8%;
}

.pageOneColumnDivRow2 {
    padding: 0.5%;
    padding-left: 32%;
    padding-right: 32%;
    color: hsl(229, 8%, 60%);

}


@media only screen and (max-width: 375px) {
    .pageOneOuterDiv {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .pageOneRowDiv {
        display: flex;
        flex: 3;
        flex-direction: row;
        padding-top: 10%;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }

    .pageOneRowDivLeft {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0%;
        align-items: center;
    }
    
    .pageOneRowDivLeftCol1 {
        font-size: 25px;
        font-weight: bold;
        flex: 1;
        padding-right: 1rem;
        padding-top: 2rem;
    }
    
    .pageOneRowDivLeftCol2{
        text-align: center;
        flex: 1;
        color: hsl(229, 8%, 60%);
        padding: 0%;
        width: 80%;
        line-height: 1.6;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 0.5rem;
    }

    .pageOneRowDivRightImage {
        padding-left: 1rem;
    }
    
    .pageOneRowDivLeftCol3{
        flex: 1;
        display: flex;
        flex-direction: row;
        min-height: 50px;
        max-height: 50px;
        padding-bottom: 10px;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 3rem;
        padding-right: 0.8rem;
    }
    
    .pageOneRowDivLeftCol3Row1 {
      /* border: 2px solid hsl(229, 8%, 60%); */
      /* background-color: white; */
      background-color: hsl(231, 69%, 60%);
      color: white;
      font-size: 14px;
      cursor: pointer;
      border-radius: 8px;
      min-width: 150px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      border: 2px solid hsl(231, 69%, 60%);
    }
    
    .pageOneRowDivLeftCol3Row1:hover {
        color: hsl(231, 69%, 60%);
        background-color: white;
    }
    
    
    .pageOneRowDivLeftCol3Row2 {
      border: 2px solid hsl(229, 8%, 60%);
      background-color: white;
      color: black;
      font-size: 14px;
      cursor: pointer;
      border-radius: 8px;
      min-width: 150px;
      font-weight: bold;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      margin: 0%;
    }
    
    .pageOneRowDivRight {
        padding-right: 5%;
    }
    
    .pageOneRowDivRightImage {
        
    }
    
    .halfEllipse3 {
        background: hsl(231, 69%, 60%);
        width: 500px;
        height: 120px;
        border-radius: 100% 0 0 100% / 50%; 
    }
    
    .pageSecondRowDiv {
        text-align: center;
        flex: 1;
        text-align: center;
        padding: 0%;
    }
    
    .pageOneColumnDivRow1 {
        font-size: 30px;
        font-weight: bold;
        padding: 0%;
    }
    
    .pageOneColumnDivRow2 {
        width: 80%;
        padding: 0%;
        color: hsl(229, 8%, 60%);
        line-height: 1.6;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0%;
        padding-left: 2rem;
    }

  }